<section class="moviesList">

    <input type="text" ng-model="query" placeholder="Search" autofocus/>

    <select ng-model="sort">
        <option value="name">Name</option>
        <option value="total">Total</option>
        <option value="budget">Budget</option>
        <option value="runT">Time</option>
    </select>

    <select ng-model="type">
        <option value="History">History</option>
        <option value="Comedy">Comedy</option>
        <option value="Horror">Horror</option>
        <option value="Sci-Fi">Sci-Fi</option>
    </select>

    <input type="radio" name="direction" ng-model="direction" checked>
    <input type="radio" name="direction" ng-model="direction" value="reverse">


    <ul class="list" ng-show="query">
        <li ng-animate="'animate'" class="movies item" ng-repeat="item in movies | filter: query | filter: type | orderBy: sort:direction">
            <a href="#/details/{{movies.indexOf(item)}}">
                <img ng-src="{{item.image}}" width="50" alt=""/>
                <h3>{{ item.name}}</h3>
            </a>
        </li>
    </ul>

</section>